APP_NAME=Melodex
APP_ENV=local
APP_KEY=base64:j9LuImvdTWyFjNHUrZ2238pMI/BszH0axEgYtOHGv8Q=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=melodex
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=file

API_URL=http://localhost:8000/api/
