header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select_crud {
    display: flex;
    align-items: center;
    gap: 8px;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
