* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgb(58, 58, 58);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 5%;
}

.welcome {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.Main_text {
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(107, 38, 127);
}

.side_text {
    text-align: center;
    color: rgb(0, 0, 0);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
    min-width: 150px;
}

.btn-login {
    background-color: rgb(107, 38, 127);
    color: #fff;
}

.btn-login:hover {
    background-color: #59006b;
}

.btn-register {
    background-color: #1b52a3;
    color: #fff;
}

.btn-register:hover {
    background-color: #00098b;
}

.top-middle-image {
    display: block;
    margin: 20px auto 0;
    max-width: 300px;
}